<!--START_SECTION:{{ tag }}-->

{%- macro keyState(name) -%}
  {{- state.kbd[name] -}}
{%- endmacro -%}

{%- macro block(row, col) -%}
  <a>
  {%- if state.wrd[row][col] -%}
    <img height="40px" src="{{ imgBaseUrl }}{{ state.wrd[row][col] }}{{ state.fbk[row][col] }}.png" />
  {%- elif row == state.row and col == state.col -%}
    <img height="40px" src="{{ imgBaseUrl }}cursor.png" />
  {%- else -%}
    <img height="40px" src="{{ imgBaseUrl }}blank.png" />
  {%- endif -%}
  </a>
{%- endmacro -%}

{%- set row1 = ['q','w','e','r','t','y','u','i','o','p'] -%}
{%- set row2 = ['a','s','d','f','g','h','j','k','l'] -%}
{%- set row3 = ['bksp','z','x','c','v','b','n','m','enter'] -%}

<!--VAR:{{ tag }} state={{ id }}-->

<h2 align="center">{% if showTimer %}<img height="32px" src="{{ imgBaseUrl }}timer.svg" alt="timer" /> {% endif %}WORDLE</h2>

{% for row in range(0, 6) -%}
<p align="center">
  {%- for col in range(0, 5) -%}
    {{- block(row, col) -}} &nbsp;
  {%- endfor -%}
</p>
{%- endfor %}

<br/>

<p align="center">{{ message }}</p>

<p align="center">
{%- for k in row1 -%}
  <a href="{{ baseUrl }}{{ k }}"><img height="40px" src="{{ imgBaseUrl }}{{ k }}{{ keyState(k) }}.png" /></a> &nbsp;
{%- endfor -%}
</p>

<p align="center">
{%- for k in row2 -%}
  <a href="{{ baseUrl }}{{ k }}"><img height="40px" src="{{ imgBaseUrl }}{{ k }}{{ keyState(k) }}.png" /></a> &nbsp;
{%- endfor -%}
</p>

<p align="center">
{%- for k in row3 -%}
  <a href="{{ baseUrl }}{{ k }}"><img height="40px" src="{{ imgBaseUrl }}{{ k }}{{ keyState(k) }}.png" /></a> &nbsp;
{%- endfor -%}
</p>

<!--END_SECTION:{{ tag }}-->

{%- if isDev %}

state

```json
{{ state | dump(2) | safe }}
```

{% endif %}
